.book-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.wizard-form .form-control {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
}
.wizard-form {
  display: grid;
  margin-top: 0px;
  place-items: center;
  padding: 2rem;
  height: 50vh !important;
  overflow-y: auto;
  max-width: 700px;
  margin: auto;
}
.form-label {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}
.form-select:focus {
  border: none;
  box-shadow: none;
  outline: 2px solid #ff5364 !important;
}
.wizard-btn {
  width: 50%;
  position: fixed;
  top: 70%;
}
.wizard-btn .btn {
  width: 5rem;
  padding: 10px 20px;
}
.course-image-container {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
  max-width: 300px;
}
.course-image-container:hover {
  transform: scale(1.05);
}
.course-image {
  width: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.course-overlay {
  background: rgba(0, 0, 0, 0.6);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  text-align: center;
}
.course-overlay p {
  font-size: 1.2rem;
  font-weight: 600;
}
.card-img-top{
  width: 100%;
  height: 200px;
  object-fit: cover !important;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 992px){
  .wizard-form{
    margin-top: 20px !important;
    padding: 2rem;
    height: 55vh !important;
    overflow-y: auto;
    max-width: 700px;
  }
  .wizard-btn {
    width: 70%;
    position: fixed;
    top: 75%;
  }
}
@media (max-width: 600px) {
 
  .course-overlay p {
    font-size: 0.8rem; 
  }
}
