.hero-section {
    position: relative;
    background-image: url("../../assets/images/hero_banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
    padding-top: 100px;
    padding-bottom: 120px;
    color: #fff;
    margin-top: 0;
  }
  
  .hero-content {
    max-width: 100%;
  }
  
  .home-slide-text h5 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #6c757d;
  }
  
  .main-heading {
    font-size: 3.5rem;
    font-weight: 700;
    color: #000;
    line-height: 1.2;
  }
  
  .banner-content {
    margin-top: 30px;
  }
  
  .hero-form-section {
    padding: 2rem 1rem;
    text-align: center;
    background: linear-gradient(135deg, #fdfbfb, #e8f0ff);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  .search-form-wrapper {
    margin-bottom: 2rem;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-wrapper {
    position: relative;
    flex: 1;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #ff5a5a;
  }
  
  .search-input {
    width: 100%;
    padding: 10px 15px 10px 40px;
    border: none;
    border-radius: 50px;
    background-color: #f9f9f9;
    font-size: 1rem;
  }
  
  .category-dropdown {
    padding: 10px;
    border: none;
    border-radius: 50px;
    border: none;
    background-color: #ffdeda;
    font-size: 1rem;
    min-width: 95px;
    text-align: center;
  }
  
  .category-dropdown > option {
    font-weight: 500;
  }
  
  .btn-submit {
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    background-color: #ff5a5a;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(255, 90, 90, 0.3);
    transition: all 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: #ff3a3a;
    color: #fff;
    box-shadow: 0 5px 12px rgba(255, 90, 90, 0.5);
  }
  
  .trust-user {
    margin-top: 40px;
  }
  
  .trust-rating {
    align-items: center;
  }
  
  .rate-head h2 {
    font-size: 2.5rem;
    color: #000;
    font-weight: 700;
    margin: 0;
  }
  
  .rating {
    font-size: 1.5rem;
    margin-left: 15px;
  }
  .rating h2 {
    color: #000;
    padding-right: 8px;
  }
  
  .rating .filled {
    color: #ffc107;
  }
  
  .img-container {
    max-width: 100%;
  }
  
  @media (max-width: 768px) {
    .hero-section {
      padding-top: 80px;
    }
    .order-1 {
      padding: 0;
      display: inline-flex !important;
      justify-content: center !important;
    }
    .hero-img {
      object-fit: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .order-2 {
      margin-top: 10px;
      padding-left: 0;
      padding-right: 0;
    }
    .subheading {
      margin-top: 8px;
    }
    .hero-content {
      text-align: center;
    }
    .trust-rating {
      justify-content: center;
    }
    .main-heading {
      font-size: 2.5rem;
    }
  
    .description {
      font-size: 1rem;
    }
    .search-form-wrapper {
      width: 85%;
      justify-content: center;
      margin: 0 auto;
      align-items: center;
    }
    .category-dropdown {
      font-size: 0.8rem;
    }
    .category-dropdown > option {
      font-size: 0.8rem;
    }
  }

/* Card section */


  .four-card{
    position: relative;
    top: -100px;
    z-index: 100;
}    