.featured-courses-section{
    position: relative;
    background-image: url("../../assets/images/hero_banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}