.left-side-col {
  background: #fbe7e6;
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 20px;
  overflow: auto;
}
.right-side-col {
  flex: 1;
}

@media (max-width: 767px) {
  .right-column {
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.register-page {
  display: grid;
  grid-template-columns: 1fr;  
  gap: 16px;
  max-width: 500px;
  margin: 0 auto;
}
