.left-forgot {
    height: 100vh;
    background: #fbe7e6;
    padding: 3rem 0;
  }
  
  .forgot-page{
    display: grid;
    grid-template-columns: 1fr;  
    gap: 16px;
    max-width: 500px;
    margin: 0 auto;
  }
  .forgot-btn:hover {
    color: #fff !important;
  }
  .forgot-btn:active{
    color: #fff !important;
  }
  
  @media (max-width: 767px){
    .right-column{
      margin:10rem 0 ;
      align-items: center;
      display: flex;
      justify-content: center;
      padding-left: 10px !important;
      padding-right: 10px !important;
  
    }
  }